# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
*.txt.user

benchmarks/
clSPARSE-build/
clSPARSE-package/
clsparseTimer/
CMakeFiles/
Externals/
include/
library/
tests/
third_party/
x64/

#Solution & Projects
*.vcxproj.*
*.vcxproj
.vs/
cmake_install.cmake
CmakeCache.txt
*.sln

